<div class="hero-unit">
<h1>Hello Vistor!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a magna purus. Fusce et est neque. Curabitur tristique felis pulvinar libero ultricies accumsan. Proin ac nunc purus, vel mattis quam. Cras vitae tellus et turpis pretium consequat. Sed pellentesque dui non quam dignissim nec vestibulum felis mattis. Nulla facilisi.</p>
<p>
<a class="btn btn-primary btn-large">Learn More >></a>
</p>
</div>
<div class="row">
  <div class="span4">
    <h2>First Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p>
      <a class="btn" href="#">View Details >></a>
    </p>
   </div>
   <div class="span4">
    <h2>Second Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
    </p>
    <p>
      <a class="btn" href="#">View Details >> </a>
    </p>
   </div>
   <div class="span4">
    <h2>Third Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p>
      <a class="btn" href="#">View Details >> </a>
     </p>
     </div>

</div>
